/Logseq
/nwg-panel
/xfce4
/Thunar
/htop
pavucontrol.ini
/nextjs-nodejs
/Code
/Electron
/KDE
/KeePassXCrc
/MongoDB Compass
/QtProject.conf
/Recaf
/Trolltech.conf
/Vencord
/akregatorrc
/arkrc
/baloofileinformationrc
/baloofilerc
/bluedevilglobalrc
/bluedevilglobalrc.lock
/bluedevilglobalrc.lock.rmlock
/cava
/dconf
/discord
/dolphinrc
/electron-flags.conf
/fontconfig
/glib-2.0
/go
/gtk-3.0
/gtk-4.0
/gtkrc
/gtkrc-2.0
/gwenviewrc
/i3
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/kate
/katemetainfos
/katerc
/kateschemarc
/katevirc
/kcminputrc
/kconf_updaterc
/kde.org
/kded5rc
/kdedefaults
/kdeglobals
/keepassxc
/kfontinstuirc
/kgammarc
/kglobalshortcutsrc
/khelpcenterrc
/khotkeysrc
/kmixrc
/konsolerc
/konsolesshconfig
/kscreenlockerrc
/ksmserverrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/kwritemetainfos
/kwriterc
/kxkbrc
/mimeapps.list
/neofetch
/nixpkgs
/okularpartrc
/okularrc
/plasma-localerc
/plasma-org.kde.plasma.desktop-appletsrc
/plasma-org.kde.plasma.desktop-appletsrc.lock
/plasma-org.kde.plasma.desktop-appletsrc.lock.rmlock
/plasma.emojierrc
/plasmanotifyrc
/plasmashellrc
/powerdevilrc
/powermanagementprofilesrc
/procps
/pulse
/session
/spectaclerc
/startkderc
/systemd
/systemsettingsrc
/trashrc
/user-dirs.dirs
/user-dirs.locale
/xsettingsd